<h2><%= @phone_number.number %></h2>
<% if current_user %>
	<% if current_user.id == @phone_number.user_id %>
		<%= link_to "Delete Number", phone_number_path(@phone_number),
                    :data => {:confirm => "You sure?",
                    :method => "delete"} %>
		<br />
	<% end %>
<% end %>

<div id="testimonies_collection">
	<% if @testimonies_collection %>
		<%= render(@testimonies_collection) %>
	<% end %>
</div>

<% if current_user %>
	<p><%= link_to "Add Testimony", new_phone_number_testimony_path(@phone_number), :remote => true, :id => "new-testimony-link",:class => "btn btn-primary" %></p>
<% end %>
